body {
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
}

h1 {
	font-size: 30px;
	font-weight: 700;
	line-height: 42px;
}

h2 {
	font-family: "PT Sans";
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}