body {
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
}

h1 {
    color: #000;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 42px;
}

h2 {
	font-family: "PT Sans", sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}